<div id="<%= dom_id furniture %>">
  <p>
    <strong>Title:</strong>
    <%= furniture.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= furniture.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= furniture.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= furniture.price %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= furniture.color %>
  </p>

</div>
